.textareaContainer {
	/* Custom Properties */
	--input-bd: light-dark(
		var(--mantine-color-gray-2),
		var(--mantine-color-dark-4)
	);
	--input-bg: light-dark(
		var(--mantine-color-gray-0),
		var(--mantine-color-dark-5)
	);
	--input-bd-focus: var(--mantine-primary-color-filled);

	/* Box Model */
	border: rem(1px) solid var(--input-bd);
	border-radius: var(--mantine-radius-lg);
	background-color: var(--input-bg);
}

.textareaContainer:focus-within {
	--input-bd: transparent;
	outline: rem(2px) solid var(--mantine-primary-color-filled);
}

.textarea {
	/* Custom Properties */
	--input-radius: 0;
	--input-padding-inline-start: 0;
	--input-padding-inline-end: 0;
	--input-padding-y: 0;
	--input-height: auto;
	--input-bg: transparent;

	/* Box Model */
	border: none;
	padding-inline: var(--mantine-spacing-sm);
	padding-block: var(--mantine-spacing-xs);

	&:focus-within {
		outline: none;
	}
}

.submitButtonContainer:not(:empty) {
	margin-left: auto;
	align-self: flex-end;
	padding-block: rem(8px);
	padding-inline-end: rem(8px);
}
