@layer theme, base, mantine, components, utilities;

@import 'tailwindcss';

@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));

@plugin '@tailwindcss/typography';

@import '@mantine/core/styles.layer.css';

@import '@mantine/notifications/styles.layer.css';

@layer base {
	.tabler-icon {
		stroke-width: 1.5;
	}
}

@utility stretched-link {
	&::after {
		position: absolute;
		inset: 0;
		content: '';
	}
}
